main {
    background-image: url(https://www.quimper.bzh/uploads/Image/db/28466_274_Label-Ville-Fleurie-Quimper-conserve-ses-4-fleurs-1-.jpg);
    background-repeat: repeat;
}

main2{
    background-image: url(https://i.pinimg.com/736x/41/85/5f/41855ff9327dfd34749fbbf65874128a.jpg);
    background-repeat: repeat;
}

a :visited{
    color: black;
}

p{
    display: flexbox;
    position: relative;
    left: 35%;
    max-width: 400px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    text-align: justify;   
    border: solid #b9abb1;
    padding: 2em;
}

strong{
    color: #EEAECA;
    text-align: center;
}

.entete{
    height: 250px;
    text-align: center;
    background: rgb(238,174,202);
	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.btn-group{
    text-align: center;
    height: fit-content;
    width: auto;
    padding: 1em;
    padding-inline-start: 1em;
    background: rgb(238,174,202);
	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  

}

.btnbtn-second{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer{
    text-align: center;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border: solid black 0.5px;
    background: rgb(238,174,202);
	background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

table{
    align-items: center;
    border-spacing: 20px;
    font-family: 'Montserrat', sans-serif;
}
th, td{
    border: 1px solid black;
    padding: 80px;
}

.prix{
    display: flex;
    text-align: center;
}